.footer-container {
    
    background-color: #4A3D42;
    color: #fff;
    width: 100%;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container-heading {

    font-size: 25px;
}
a.contact{
 color:#fff;
 font-size:23px;
 text-decoration: none;
}

a.contact:hover{
    color:#D2A97D;
    font-size:25px;
}

.copyright{
    color:#D2A97D;
    font-size:23px;
}

@media screen and (max-width: 767px){
.footer-subscription-heading{
    font-size:20px;
}

}


@media screen and (max-width: 467px){
    .footer-subscription-heading{
        font-size:15px;
    }
    .copyright{
        font-size: 20px;
    }
}