.hero-container{
    background: URL('../images/homepage.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin-top: -80px;
    
}


h1:hover {
    cursor: default;
}

p:hover {
    cursor: default;
}

.hero-container > h1 {
    color: #ffffff;
    font-size: 100px;
    margin-top: -100px;
}

.hero-container > p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

@media (min-width: 760px) and (max-width: 1024px){

    .hero-container > h1 {
        color: #ffffff;
        font-size: 20px;
        margin-top: -150px;
        
    }
}

@media (min-width: 281px) and (max-width: 767px){

    .hero-container > h1 {
        color: #ffffff;
        font-size: 30px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 24px;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}