.story-container{
    background: URL('../images/story.jpg') center center/cover no-repeat;
    height: 1300px;
    width:100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin-top: -80px;
    
    
}

.story-text{
    text-align: center;
    margin-top: 80px;
}

.p-text{
    margin-top:40px;
    margin-right:50px;
    margin-left: 50px;
    text-indent: 50px;
    line-height: 30px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .story-container
    { height:1400px;
      background-image: none;
      background: #a8a8a8;
    
    }
    .p-text{font-size:12px}


 }